
/**
 * Watsi logo.
 */

.logo[data-logo="Watsi"] {
  width: 0;
}

.logo[data-logo="Watsi"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Watsi"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Watsi"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
